@import "common.css";

body{ background:  url(../img/bg_body_interiores.jpg) no-repeat center 98px;; text-align: center; font: 1em/1 'Raleway'; }
body#home { background: url(../img/bg_body.jpg) no-repeat center 98px;}


/* GENERIC ITEMS */

	.wrapper { width: 1000px; margin: 0 auto; text-align: left; }

	.txt { margin-top: 1em;}

/* FIN GENERIC ITEMS */

/* HEADER */

	.header { width: 100%; height: 98px; background: #000; }
	.header:after { content: " "; display: block; clear: both; height: 0; visibility: hidden;}
		.logo { float:right; color: #fff; margin: 1em 0 0 0; padding: 0 5em 0 0; background:url(../../theme/img/telefono.gif) no-repeat right center; }
			.logo span { display: block; text-align: right; line-height: .7}
			.logo span:first-child { font-size: 3em;}
			.logo span:last-child { font-size: 2em; opacity: .6;}

/* FIN HEADER*/

/* CONTENT */

	.content { margin-top: 3em;}

		form { }
			form input[type=text], form textarea { width: 49%; height: 2.5em; border:0; opacity: 0.9; padding: .3em .5em; color:#000; background-color: #d5d3f0; border-radius: 0.3em; margin-right: .5em; margin-top: 2em; display: inline-block; font:1em/1 'Raleway'; }
			form textarea { width: 99.5%; height: 5em; resize: none; }

			form input[type=text]:nth-child(2n+2) { margin-right: 0; }
			form input[type=text]:nth-child(5),form input[type=text]:nth-child(6){ margin-top: 0.5em; }

			.titulo{ display: block; margin-bottom: 1.5em; margin-top: 2em; }

			.errores { color: #f00; font-size: .7em;}
				.errores li { margin-bottom: 1em;}
				.errores.contain { margin-top: 2em;}
				.errores a {color: #f00;}

			.botones{ float:right; margin-top: 2em; }
				.botones a { text-decoration: none; color: #000; }
				.boton { padding: .5em 1em .5em 2em; margin-left: 1em; background-color: black; background-size: 1em; background-repeat: no-repeat; background-position:10% 50%; border:0; color:#d8ff00; cursor: pointer; font-size: 1em}

					.boton.anadir{ background-image: url(../../theme/img/anadir.gif); }
					.boton.eliminar{ background-image: url(../../theme/img/eliminar.gif); }
					.boton.modificar{ background-image: url(../../theme/img/editar.gif); }
					.boton.buscar{ background-image: url(../../theme/img/buscar.gif); }

			a.boton { display: inline-block; padding: .5em 1em .5em 2em; margin-left: 1em; background-color: black; background-size: 1em; background-repeat: no-repeat; background-position:5% 50%; border:0; color:#d8ff00; cursor: pointer; text-decoration: none;}

		.links { margin: 2em 0; text-align: center;}
		.links li { display: inline-block;}

		.contain { width:70%; margin: 0 auto;}
			.contain p { font-size: 1.3em; margin-bottom: 1em;}
				.contain p span { font-size: 1.3em;}
			.contain h3 { font-size: 1.8em; margin-bottom: 1em;}

		table { margin: 2em auto; width: 100%; font-size: .8em;}
			table th, table td { padding: .5em; vertical-align: middle;}
			table th { background: #000; color: #fff; font-size: 1.2em;}
			table td { vertical-align: top; border-bottom: 1px solid #d5d5d5;}

		.amigos { margin-top: 2em;}
			.amigos li { display: block; margin-bottom:1em; }
			.amigos li input[type=submit] { padding: .4em 1.5em .4em 2em; background: none; border:0; cursor: pointer; font-size: 1.2em; text-transform: capitalize;}
			.amigos.del li { background: url(../../theme/img/bullet-del.png) no-repeat .5em center;}
			.amigos.del li:hover { background-color: #D8FF00;}
			.amigos.modify li{ background: url(../../theme/img/bullet-modify.png) no-repeat .35em center;}
            .amigos.modify li:hover { background-color: #D8FF00;} 
/* FIN CONTENT */

/* NAVBAR */

	#home .navBar { float: none; width: 75%; margin: 0 auto; text-align: center;}
		#home .navBar li { display: inline-block; width: 49%; margin: 3em 0 0 0; font-size: 1.8em;}
			#home .navBar li a { display:inline-block; width: 9.6em; min-height: 8.7em; padding: 0; background-position: center bottom !important; background-size: auto !important; color: #fff; text-decoration: none; font-style: italic; }

	.navBar { float: left; margin: 4.1em 0 0 0;}
		.navBar li { display: inline-block; width: auto; margin: 0 1em 0 0; font-size: 1em;}
		.navBar li.sel:after{ content: " "; display:block; width: 100%; height: 27px; background: url(../img/flecha.gif) no-repeat center bottom; }
			.navBar li a { display:inline-block; width: auto; min-height: auto; padding: 0 0 0 1em; color: #fff; text-decoration: none; font-style: normal;}
			.navBar li#anadir a{ background: url(../../theme/img/anadir.gif) no-repeat 0 center; background-size: contain; }
			.navBar li#modificar a{ background: url(../../theme/img/editar.gif) no-repeat 0 center; background-size: contain; }
			.navBar li#eliminar a{ background: url(../../theme/img/eliminar.gif) no-repeat 0 center; background-size: contain; }
			.navBar li#ver a{ background: url(../../theme/img/vertodos.gif) no-repeat 0 center; background-size: contain; } 

/* FIN NAVBAR */

