<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AgendaTelefonica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.ipartek.agenda.controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendaServlet</display-name>
    <servlet-name>AgendaServlet</servlet-name>
    <servlet-class>com.ipartek.agenda.controller.AgendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendaServlet</servlet-name>
    <url-pattern>/agenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMaestro</display-name>
    <servlet-name>ServletMaestro</servlet-name>
    <servlet-class>com.ipartek.agenda.controller.ServletMaestro</servlet-class>
        <init-param>
      <param-name>log4j-config</param-name>
      <param-value>WEB-INF/config/log4j.properties</param-value>
    </init-param>
    <load-on-startup></load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMaestro</servlet-name>
    <url-pattern>/servlet</url-pattern>
      </servlet-mapping>
</web-app>