<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppWebAgendaTelefonica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AnadirUsuario</display-name>
    <servlet-name>AnadirUsuario</servlet-name>
    <servlet-class>com.ipartek.formacion.agenda.controller.AnadirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirUsuario</servlet-name>
    <url-pattern>/anadir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarAlumno</display-name>
    <servlet-name>ModificarAlumno</servlet-name>
    <servlet-class>com.ipartek.formacion.agenda.controller.ModificarAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarAlumno</servlet-name>
    <url-pattern>/modificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerAlumno</display-name>
    <servlet-name>VerAlumno</servlet-name>
    <servlet-class>com.ipartek.formacion.agenda.controller.VerAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerAlumno</servlet-name>
    <url-pattern>/VerAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAlumno</display-name>
    <servlet-name>EliminarAlumno</servlet-name>
    <servlet-class>com.ipartek.formacion.agenda.controller.EliminarAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAlumno</servlet-name>
    <url-pattern>/eliminar</url-pattern>
  </servlet-mapping>
</web-app>